@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

button,
i {
  cursor: pointer;
}

.header {
  padding: 10px 0;
}

.navbar_top {
  border-bottom: 1px solid #d9dadb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar_top_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.navbar_top_item form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.navbar_top_item form input {
  border: none;
  outline: none;
}
.navbar_top_item form button {
  border: none;
  background-color: transparent;
}
.navbar_top_travel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.navbar_top_travel h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  color: #262d33;
}
.navbar_top_travel p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}
.navbar_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
}
.navbar_bottom h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

.vektors {
  height: 40px;
  width: 1px;
  background-color: #d9dadb;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

@media (max-width: 829px) {
  .navbar_top_item form input {
    display: none;
  }
  .navbar_bottom {
    flex-direction: column;
  }
  .navbar_bottom h2 {
    display: none;
  }
  .navbar_bottom_item {
    justify-content: space-between;
    width: 100%;
  }
  .logo p {
    display: none;
  }
  .signin p {
    display: none;
  }
}
@media (max-width: 412px) {
  .navbar_top img {
    display: none;
  }
}
.showcase {
  background: #262d33;
  padding: 30px 0;
}
.showcase_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
}
.showcase_links li {
  text-wrap: nowrap;
}
.showcase_links li a {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.showcase_bottom {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 600px;
  margin-top: 60px;
}
.showcase_mountain {
  background: url(../../img/mountain.png);
  background-size: cover;
  border-radius: 8px 0 0 8px;
}
.showcase_mountain_item {
  width: 88%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
  height: 100%;
}
.showcase_recomended {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.avatar h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.avatar p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

.destinations h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
  padding-bottom: 10px;
}
.destinations h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}
.destinations button {
  background: #4592ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  border: none;
  width: 138px;
  height: 40px;
  border-radius: 20px;
}

.play_buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.play h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.play p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  opacity: 0.4;
}

.showcase_recomended {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1000px) {
  .showcase_bottom {
    width: 100%;
    grid-template-columns: 100%;
  }
  .showcase_bottom .showcase_recomended {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 834px) {
  .showcase_bottom {
    width: 100%;
    grid-template-columns: 100%;
  }
  .showcase_bottom .showcase_recomended {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 663px) {
  .showcase_bottom .showcase_recomended {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 497px) {
  .showcase_bottom .showcase_recomended {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.showcase_recomended {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.showcase_recomended .div1 {
  height: 10%;
}
.showcase_recomended .div2 {
  height: 18%;
}
.showcase_recomended .div2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
  margin-top: 10px;
}
.showcase_recomended div:hover {
  background-color: antiquewhite;
}

.imgs {
  background: #d9dadb;
  padding: 60px 0;
}

.imgs_parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 40px 0;
  width: 78%;
}
.imgs_parent div {
  background-color: #fff;
  border-radius: 10px;
}
.imgs_parent .box1 {
  grid-row: 1/3;
  grid-column: 1/3;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}
.imgs_parent .box1 h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6e99ae;
}
.imgs_parent .box1 h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #262d33;
}
.imgs_parent .box1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.imgs_parent .box1 hr {
  width: 50%;
  text-align: start;
  margin-top: 50px;
}
.imgs_parent .box1 .car {
  position: absolute;
  right: 0;
  top: 20px;
}
.imgs_parent .box1 .hr {
  display: flex;
  justify-content: space-around;
}
.imgs_parent .box2 {
  grid-row: 1/3;
  grid-column: 3/4;
  position: relative;
}
.imgs_parent .box2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
}
.imgs_parent .box3 {
  grid-row: 3/5;
  grid-column: 1/2;
}
.imgs_parent .box3 img {
  width: 100%;
}
.imgs_parent .box3 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
  margin-left: 20px;
  margin-top: 30px;
}
.imgs_parent .box4 {
  grid-row: 3/4;
  grid-column: 2/3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imgs_parent .box4 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
}
.imgs_parent .box4 h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.imgs_parent .box4 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}
.imgs_parent .box5 {
  grid-row: 3/4;
  grid-column: 3/4;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imgs_parent .box5 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
}
.imgs_parent .box5 h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.imgs_parent .box5 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}
.imgs_parent .box6 {
  grid-row: 4/5;
  grid-column: 2/3;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imgs_parent .box6 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
}
.imgs_parent .box6 h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.imgs_parent .box6 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}
.imgs_parent .box7 {
  grid-row: 4/5;
  grid-column: 3/4;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.imgs_parent .box7 h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
}
.imgs_parent .box7 h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.imgs_parent .box7 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}

@media (max-width: 1260px) {
  .imgs_parent {
    width: 95%;
  }
}
@media (max-width: 1135px) {
  .imgs_parent {
    width: 100%;
  }
}
@media (max-width: 889px) {
  .imgs_parent {
    grid-template-columns: repeat(2, 1fr);
  }
}
.bloom {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(135deg, #b54747 0%, #1a8b78 40%, #001f4d 100%);
}
.bloom h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}
.bloom button {
  background: rgb(69, 146, 255);
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  margin-top: 20px;
}

.boxes {
  background-color: rgb(213, 218, 224);
  padding: 100px 0px;
}

.boxes_parent {
  display: flex;
  justify-content: space-between;
}
.boxes_parent .right {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
}
.boxes_parent .right .box {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.boxes_parent .right .box h3 {
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
}
.boxes_parent .right .box .ong h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.boxes_parent .right .box .ong p {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}
.boxes_parent .left {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
}
.boxes_parent .left hr {
  background: #e4e7ea;
}
.boxes_parent .left .box img {
  width: 50%;
}
.boxes_parent .box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.boxes_parent .box img {
  width: 10%;
}
.boxes_parent .box .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.boxes_parent .box .right .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxes_parent .box .right .top p {
  font-weight: 900;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
}
.boxes_parent .box .right h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #262d33;
}
.boxes_parent .box .right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.boxes_parent .box .right .bot {
  display: flex;
  gap: 20px;
}

@media (max-width: 1251px) {
  .boxes_parent {
    flex-direction: column;
    gap: 20px;
  }
  .boxes_parent .left {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .boxes_parent .left .box {
    flex-direction: column;
  }
}
.had {
  background-color: #262d33;
  padding: 30px 0;
}

.had_parent {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.had_parent .left {
  background: linear-gradient(135deg, #bf4a4a, #1a1a1a, #004466);
  width: 49%;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.had_parent .left .img p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fff;
}
.had_parent .left h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}
.had_parent .left button {
  border-radius: 50px;
  padding: 20px;
  background: #4592ff;
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  border: none;
  width: 50%;
  margin: 0 auto;
}
.had_parent .right {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.had_parent .right .top {
  border-radius: 10px;
  background-color: #b4d1e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.had_parent .right .top .top_left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.had_parent .right .top .top_left p {
  font-weight: 900;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6e99ae;
}
.had_parent .right .top .top_left h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #262d33;
}
.had_parent .right .top .top_left h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.had_parent .right .top .top_left button {
  border-radius: 20px;
  padding: 10px;
  background: #4592ff;
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  border: none;
}
.had_parent .right .bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.had_parent .right .bot .leftt {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}
.had_parent .right .bot .leftt h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #262d33;
}
.had_parent .right .bot .leftt p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.had_parent .right .bot .leftt h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #939699;
}

@media (max-width: 970px) {
  .had_parent {
    flex-direction: column;
    gap: 30px;
  }
  .had_parent .left {
    width: 100%;
  }
  .had_parent .right {
    width: 100%;
  }
}
@media (max-width: 437px) {
  .had_parent .left h2 {
    font-size: 30px;
  }
  .had_parent .left button {
    font-size: 10px;
    padding: 5px 10px;
  }
  .had_parent .right .top .top_right {
    display: none;
  }
  .had_parent .right .bot {
    flex-direction: column;
    gap: 30px;
  }
  .had_parent .right .bot .leftt {
    width: 100%;
  }
}
.footer_parent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
}
.footer_parent .fot_top h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: #262d33;
}
.footer_parent .fot_top form {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.footer_parent .fot_top form input {
  border: 1px solid #d9dadb;
  border-radius: 5px;
  padding: 10px 20px;
  width: 30%;
  outline: none;
}
.footer_parent .fot_top form button {
  padding: 8px 16px;
  border: none;
  border-radius: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #fff;
  background: #4592ff;
}
.footer_parent .fot_mid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer_parent .fot_mid .line {
  justify-content: space-between;
  display: flex;
}
.footer_parent .fot_mid .line .ol {
  height: 5px;
}
.footer_parent .fot_mid .line .qizil {
  background-color: red;
}
.footer_parent .fot_mid .line .binafsha {
  background-color: blueviolet;
}
.footer_parent .fot_mid .line .kok {
  background-color: #4592ff;
}
.footer_parent .fot_mid .line .olov {
  background-color: orange;
}
.footer_parent .fot_mid .line .yashil {
  background-color: rgb(34, 233, 34);
}
.footer_parent .fot_mid .line .kul {
  background-color: rgb(158, 185, 233);
}
.footer_parent .fot_mid .line .red {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_parent .fot_mid .line .red h4 {
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  color: #262d33;
}
.footer_parent .fot_mid .line .red p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #4b5157;
}
.footer_parent .bot_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_parent .bot_1 .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer_parent .bot_1 .left h4 {
  font-weight: 900;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
}
.footer_parent .bot_1 .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_parent .bot_1 .right .fa-brands {
  padding: 20px;
  border-radius: 50%;
  width: 20%;
  font-size: 20px;
  color: #fff;
  animation-name: brand;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes brand {
  from {
    box-shadow: 4px 4px 20px #fff;
  }
  to {
    box-shadow: 4px 4px 20px #4b85ea;
  }
}
.footer_parent .bot_1 .right .face {
  background-color: #074193;
}
.footer_parent .bot_1 .right .twit {
  background-color: #4592ff;
}
.footer_parent .bot_1 .right .you {
  background-color: red;
}
.footer_parent .bot_1 .right .ins {
  background-color: rgb(43, 40, 54);
}
.footer_parent .bot2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer_parent .bot2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #939699;
}

@media (max-width: 1095px) {
  .footer_parent .bot_1 {
    flex-direction: column;
  }
  .footer_parent .bot2 {
    flex-direction: column;
  }
  .footer_parent .bot2 p {
    flex-wrap: wrap;
  }
}
@media (max-width: 737px) {
  .footer_parent .fot_mid .text {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .footer_parent .fot_mid .text p {
    font-size: 30px;
  }
  .footer_parent .bot_1 {
    gap: 20px;
  }
  .footer_parent .bot_1 .left {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
